<div class="table-container">
  <table class="table align-middle text-center">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Páginas</th>
        <th>Fecha Inicio</th>
        <th>Fecha Finalización</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img
            src="/libros/Alma/covers/Mi alma es tuya.png"
            alt="Portada"
            class="book-cover me-2"
          />
          Trono de cristal
        </td>
        <td>999</td>
        <td>22/22/2222</td>
        <td>22/22/2222</td>
        <td>
          <span class="badge bg-success rounded-pill px-3 py-2"
            >Finalizado</span
          >
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="/libros/Alma/covers/Mi alma es tuya.png"
            alt="Portada"
            class="book-cover me-2"
          />
          Trono de cristal
        </td>
        <td>999</td>
        <td>22/22/2222</td>
        <td>22/22/2222</td>
        <td>
          <span class="badge bg-success rounded-pill px-3 py-2"
            >Finalizado</span
          >
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="/libros/Alma/covers/Mi alma es tuya.png"
            alt="Portada"
            class="book-cover me-2"
          />
          Trono de cristal
        </td>
        <td>999</td>
        <td>22/22/2222</td>
        <td>22/22/2222</td>
        <td>
          <span class="badge bg-success rounded-pill px-3 py-2"
            >Finalizado</span
          >
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="/libros/Alma/covers/Mi alma es tuya.png"
            alt="Portada"
            class="book-cover me-2"
          />
          Trono de cristal
        </td>
        <td>999</td>
        <td>22/22/2222</td>
        <td>22/22/2222</td>
        <td>
          <span class="badge bg-success rounded-pill px-3 py-2"
            >Finalizado</span
          >
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="/libros/Alma/covers/Mi alma es tuya.png"
            alt="Portada"
            class="book-cover me-2"
          />
          Trono de cristal
        </td>
        <td>999</td>
        <td>22/22/2222</td>
        <td>22/22/2222</td>
        <td>
          <span class="badge bg-success rounded-pill px-3 py-2"
            >Finalizado</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
