<section>
    <div class="d-flex flex-column">
        <h6 class="autor">Autor</h6>
        <h6 class="saga">Saga (Si tiene)</h6>
        <h1 class="titulo">Título del libro</h1>
        <div class="datos-sinopsis">
            <p class="sinopsis">Sinopsis</p>
            <p class="texto-sinopsis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quasi unde totam
                cumque
                assumenda eos iste
                ipsa quas! Laborum omnis tempora itaque voluptatum sequi modi quas pariatur vitae reiciendis porro!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam cupiditate reprehenderit commodi
                quibusdam dignissimos consequuntur consectetur dicta fugiat dolore minima nesciunt atque labore nostrum
                laudantium nisi nobis, ullam temporibus quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Quaerat, quod nostrum! Et quisquam, temporibus eum sint asperiores quae. Et provident voluptatibus
                voluptas aut ullam recusandae blanditiis id consequuntur officia reprehenderit!</p>
        </div>
        <button class="boton btn btn-boton fw-bold">Saber más</button>
    </div>
</section>