section {
    margin: 10px;
    color: white;

    //.autor {}

    //.saga {}

    .titulo {
        font-size: 50px;
    }

    .sinopsis {
        margin-bottom: 0;
    }

    .texto-sinopsis {

        text-align: justify;
    }

    .boton {
        width: 120px;
    }
}