<!-- HTML modificado -->
<section class="section">
  <div class="settings">
    <div class="icon-container">
      <i class="bi bi-gear-fill"></i>
    </div>
    <div class="content">
      <p class="title">Ajustes de usuario</p>
      <p class="description">Editar nombre, Nickname, contraseña y la imagen de perfil</p>
    </div>
  </div>

  <div class="books">
    <div class="icon-container">
      <i class="bi bi-book-fill"></i>
    </div>
    <div class="content">
      <p class="title">Tus libros</p>
      <p class="description">Añade y elimina</p>
      <p class="description">Gestiona tus libros, imágenes, notas, frases y calificaciones</p>
    </div>
  </div>

  <div class="preferences">
    <div class="icon-container">
      <i class="bi bi-gear-fill"></i>
    </div>
    <div class="content">
      <p class="title">Preferencias</p>
      <p class="description">Configura tus preferencias</p>
    </div>
  </div>
</section>