@import "../../../../assets/colors.scss";

.parent {
  padding: 20px;
  height: 93vh;
  background-color: var(
    --main-bg
  ); // Valor por defecto, pero será sobrescrito por JS
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 8px;
  transition: background-color 0.3s ease; // Transición suave al cambiar de tema

  .datos {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
  }

  .imagen1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
  }

  .imagen2 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 5;
  }

  .carrusel {
    color: var(--text-color); // Usar la variable de color de texto del tema
    border-radius: 40px;
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 5;
  }
}

// Media queries
@media screen and (max-width: 1600px) {
  .parent {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible !important;
    .datos {
      position: absolute;
      top: 7rem;
      width: 60%;
      z-index: 10;
    }

    .imagen1 {
      position: absolute;
      top: 7rem;
      opacity: 0.3;
    }

    .imagen2 {
      display: none !important;
    }
    .carrusel {
      top: 0;
      padding-top: 490px;
    }
  }
}

@media screen and (max-width: 900px) {
  .parent {
    .datos {
      width: 70%;
    }

    .imagen2 {
      display: none !important;
    }
  }
  .carrusel {
    padding-top: 550px !important;
  }
}

@media screen and (max-width: 630px) {
  .parent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 8px;

    .imagen1 {
      display: none !important;
    }

    .imagen2 {
      display: none !important;
    }
  }
}

@media screen and (max-width: 400px) {
  .parent {
    padding: 0px !important;
    height: 100vh;
    .imagen1 {
      display: none;
      opacity: 0;
    }
    .carrusel {
      padding-top: 410px !important;
    }

    .imagen2 {
      display: none;
      opacity: 0;
    }
  }
}

