.statistics-section {
  background-color: #525252;
}

.stat-card {
  background-color: #444;
  border-radius: 10px;
  position: relative;
  border: 2px solid var(--bs-btn);

  .icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .bg-purple {
    background-color: #6f42c1;
  }

  i {
    pointer-events: none;
  }
}
