<div class="parent">
    <div class="data-bottom"><app-data-bottom></app-data-bottom></div>
    <div class="data-top"><app-data-top></app-data-top></div>
    <div class="title">
        <h1>Lectura actual</h1>
    </div>
    <div class="buttons">
        <div class="button-container">
            <button class="nav-button next">
                <i class="bi bi-caret-up-fill"></i>
            </button>
            <button class="nav-button prev">
                <i class="bi bi-caret-down-fill"></i>
            </button>
        </div>
    </div>
</div>