@import "../../../../assets/colors.scss";

nav {
  display: flex;
  flex-direction: column;
  height: 92vh;

  a {
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;

    &:hover {
      color: $boton;
    }

    /* Cuando el enlace tiene la clase 'active' del router */
    &.active {
      color: $boton;
    }

    p {
      margin: 10px 10px 10px 10px;
      padding-right: 10px;
    }

    &.solo-icono {
      p {
        display: none;
      }

      i {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 7px;

    a {
      padding: 5px;
    }
  }
}
