nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  a {
    padding: 20px;
    color: white;
  }
  a:hover {
    background-color: orange;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 7px;
    a {
      padding: 5px;
    }
  }
}
