<nav class="bg-header-noche">
  <a
    [ngClass]="{ 'solo-icono': soloIcono }"
    class="d-flex flex-column align-items-center py-0"
    routerLink="/"
  >
    <i class="bi bi-person-circle display-2"></i>
    <p class="fs-5 mb-0 fw-bold text-white">Nombre</p>
    <p class="fs-6 mb-0 text-white">Apellido</p>
  </a>

  <a
    [ngClass]="{ 'solo-icono': soloIcono }"
    routerLink="/lectura-actual"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="bi bi-book fs-4"></i>
    <p class="fs-6">Libro actual</p>
  </a>

  <a
    [ngClass]="{ 'solo-icono': soloIcono }"
    routerLink="/estadisticas"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="bi bi-graph-up-arrow fs-4"></i>
    <p class="fs-6">Estadísticas</p>
  </a>

  <a
    [ngClass]="{ 'solo-icono': soloIcono }"
    routerLink="/calificaciones"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="bi bi-trophy fs-4"></i>
    <p class="fs-6">Calificaciones</p>
  </a>

  <a
    [ngClass]="{ 'solo-icono': soloIcono }"
    routerLink="/pendientes"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="bi bi-bookmark-heart fs-4"></i>
    <p class="fs-6">Pendientes</p>
  </a>

  <a
    [ngClass]="{ 'solo-icono': soloIcono }"
    routerLink="/ajustes"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="mb-md-5"
  >
    <i class="bi bi-gear fs-4"></i>
    <p class="fs-6">Ajustes</p>
  </a>

  <a class="my-md" [ngClass]="{ 'solo-icono': soloIcono }">
    <i class="bi bi-box-arrow-right fs-4"></i>
    <p class="fs-6">Cerrar Sesión</p>
  </a>
</nav>
