<nav class="nav-horizontal bg-header-night text-white">
  <div class="menu d-flex gap-3">
    <i class="bi bi-list" (click)="toggleNav()"></i>
    <div class="links">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Inicio</a
      >
      <a routerLink="/library" routerLinkActive="active">Biblioteca</a>
    </div>
  </div>

  <div class="imagen">
    <div>Modo noche</div>
    <img src="logos/logo-letras-naranjas.png" alt="Logo" class="imagen" />
  </div>
</nav>
<app-divider-timer></app-divider-timer>
