@import '../../../../assets/colors.scss';
.nav-horizontal {
    width: 100vw;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    .menu {
        cursor: pointer;
        i {
            color: white;
            font-size: 30px;
        }
    }
    // Aqui habria que cambiar la forma, ya no seria una linea en nav-vertical, sino el color del icono
    .links {
        display: flex;
        gap: 20px;
        a {
            cursor: pointer;
            text-decoration: none;
            color: white;
            position: relative;
            padding-bottom: 5px;
    
            &.active::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: $boton;
            }
        }
    }
    .buscador {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1; // Permite que el buscador ocupe más espacio sin colapsar otros elementos
        max-width: 40%; // Limita el ancho del buscador para que no ocupe demasiado
        input {
            width: 100%;
            border: none;
            padding: 8px;
            border-radius: 5px 0px 0px 5px;
        }
        button {
            border-radius: 0px 5px 5px 0px;
            border: none;
            padding: 5px 15px;
            i {
                font-size: 20px;
                color: black;
            }
        }
    }
    .campana {
        padding-left: 20px;
        cursor: pointer;
        i {
            font-size: 20px;
        }
    }
    .imagen {
        display: flex;
        gap: 60px;
        justify-content: flex-end;
        align-items: center;
        img {
            width: 80px;
        }
    }
}
