.nav-horizontal {
    width: 100vw;  // Hace que el contenedor ocupe toda la pantalla
    display: flex;
    flex-wrap: wrap;  // Permite que los elementos se ajusten si es necesario
    padding: 10px;
    align-items: center;
    justify-content: space-between;  // Para distribuir los elementos correctamente
    box-sizing: border-box;

    .menu {
        cursor: pointer;
        i {
            color: white;
            font-size: 30px;
        }
    }

    .links {
        display: flex;
        gap: 20px;  // Separar los enlaces
        a {
            cursor: pointer;
            text-decoration: none;
            color: white;
        }
    }

    .buscador {
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            width: 100%;  // El input ocupará el espacio disponible
            border: none;
            padding: 8px;
            border-radius: 5px 0px 0px 5px;
        }
        button {
            border-radius: 0px 5px 5px 0px;
            border: none;
            padding: 5px 15px 5px 15px;
            i {
                font-size: 20px;
                color: black;
            }
        }
    }

    .campana {
        cursor: pointer;
        i {
            font-size: 20px;
        }
    }

    .imagen {
        gap: 20px;  // Reduce el espacio entre los elementos
        display: flex;
        justify-content: flex-end;  // Alinea los elementos al final
        align-items: center;
        img {
            width: 80px;
        }
    }
}
