<section class="container text-white">
    <h1>Alas de ónix</h1>
    <div class="author-saga">
        <div class="author d-flex">
            <p class="fw-bold">Autor: </p>
            <p>Sarah J. Maas</p>
        </div>
        <div class="saga d-flex">
            <p class="fw-bold">Saga: </p>
            <p>Trono de cristal</p>
        </div>
    </div>
    <div class="review">
        <p class="fw-bold">Reseña: </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor modi temporibus porro facere rem voluptas.
            Sapiente nobis doloremque harum alias dignissimos voluptatum neque beatae, reiciendis quas, ut, eos cum
            esse.
        </p>
    </div>

</section>