<div class="parent">
  <div class="secondGraphic panel">
    <h3 class="panel-title">Paginas Mensuales Leidas</h3>
    <app-linear-graphic></app-linear-graphic>
  </div>

  <div class="thirdGraphic panel">
    <h3 class="panel-title">Donut</h3>
    <div class="panel-content">thirdgraphicc</div>
  </div>

  <div class="favBooks panel">
    <h3 class="panel-title">Libros Favoritos</h3>
    <div class="panel-content">favBooks</div>
  </div>

  <div class="div10 panel">
    <h3 class="panel-title">Panel Personalizado</h3>
    <div class="panel-content">10</div>
  </div>

  <div class="iconsDiv panel">
    <h3 class="panel-title">Tus Estadísticas</h3>
    <div class="panel-content">iconos</div>
  </div>

  <div class="firstGraphic panel">
    <h3 class="panel-title">Nota Media de tus Libros</h3>
    <div class="panel-content">first graphic</div>
  </div>
</div>
