<div class="parent">
    <div class="Fechas d-flex flex-column justify-content-center">
        <div class="inicio">
            <p class="fw-bold">Fecha de inicio</p>
            <p>11/11/2025</p>
        </div>
        <div class="final">
            <p class="fw-bold">Fecha de final</p>
            <p>11/11/2025</p>
        </div>
        <div class="estado d-flex">
            <p class="fw-bold">Estado: </p>
            <p>Finalizado</p>
        </div>
    </div>
    <div class="Sinopsis">
        <p class="fw-bold">Sinopsis</p>
        <p>Tras casi dieciocho meses en el Colegio de Guerra Basgiath, Violet Sorrengail tiene claro que
            no queda tiempo para entrenar. Hay que tomar decisiones. La batalla ha comenzado y, con enemigos acercándose
            a
            las murallas e infiltrados en sus propias filas, es imposible saber en quién confiar.

            Ahora Violet deberá emprender un viaje fuera de los límites de Aretia, en busca de aliados de tierras
            desconocidas que acepten pelear por Navarre. La misión pondrá a prueba su suerte, y la obligará a usar todo
            su
            ingenio y fortaleza para salvar lo que más ama: sus dragones, su familia, su hogar y a él.
        </p>
    </div>
    <div class="generos">
        <button class="categoria">Empíreo</button>
        <button class="genero">Dragones</button>
        <button class="genero">Fantasia</button>
    </div>
    <div class="Grafico d-flex align-items-center justify-content-center flex-column">
        <p class="center"></p>
        <p>888 de 888 páginas</p>
        <button>Ver estadisticas</button>
    </div>
    <div class="Cover">
        <img src="/libros/Empireo/covers/Alas de onix.png" alt="">
    </div>
</div>