<header class="app-header">
    <div class="header-left">
      <button *ngIf="showMenuButton" class="menu-toggle" (click)="onToggleSidebar()">
        <span class="material-icons">menu</span>
      </button>
    
      <div>
        <a routerLink="/" class="web-link text-decoration-none breadcrumb">Ir a la web</a>
      </div>
    </div>
    
    <div class="header-right">
      <button class="header-icon">
        <span class="material-icons">notifications</span>
      </button>
      
      <button class="header-icon">
        <span class="material-icons">account_circle</span>
      </button>
    </div>
  </header>