@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Colores modo noche
$main-night: #707070;
$header-night: #1a1a1a;
$secondary-night: #494949;
$tertiary-night: #929292;
$NightMode: (
    "main-night": $main-night,
    "header-night": $header-night,
    "secondary-night": $secondary-night,
    "tertiary-night": $tertiary-night
);

// Colores modo día
$main-day: #D8D6CB;
$header-day: #B4AFA6;
$secondary-day: #A19B8E;
$DayMode: (
    "main-day": $main-day,
    "header-day": $header-day,
    "secondary-day": $secondary-day
);

// Colores generales
$btn: #FF8800;
$btn-hover: #b96300;
$danger-night: #dc3545;
$warning-night: #ffc107;
$dark-night: #212529;
$light-night: #f8f9fa;
$general: (
    "btn": $btn,
    "danger": $danger-night,
    "warning": $warning-night,
    "dark": $dark-night,
    "light": $light-night,
    "btn-hover": $btn-hover
);

// Fusionar los mapas en `$theme-colors`
$theme-colors: map-merge($theme-colors, $NightMode);
$theme-colors: map-merge($theme-colors, $DayMode);
$theme-colors: map-merge($theme-colors, $general);

// Importar Bootstrap después de definir los colores
@import "bootstrap/scss/bootstrap";