@import "../../../../../assets/colors.scss";
.button-staditistics {
  background-color: $btn;
}
.button-staditistics:hover {
  background-color: $btn-hover;
}

@media (max-width: 991px) {
  .book-container {
    max-width: 250px !important;
  }
}
