<!-- Barra de tiempo visual -->
<div class="divide-timer" #timerBar></div>
<div class="d-flex align-items-center justify-content-center flex-column">
  <div class="arrows">
    <button id="prev" #prevButton><i class="bi bi-caret-left-fill"></i></button>
    <button id="next" #nextButton>
      <i class="bi bi-caret-right-fill"></i>
    </button>
  </div>
  <div class="carousel">
    <div class="list" #sliderContainer>
      <div
        class="item"
        *ngFor="let book of books; let i = index"
        [attr.data-book-index]="i"
      >
        <img [src]="book.imagen" [alt]="book.titulo" />
      </div>
    </div>
  </div>
</div>
